<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <autofac>
    <components>
      <!--AspNet缓存-->
      <!--<component type="FT.Plugin.Cache.AspNet.NetCache, FT.Plugin.Cache.AspNet" service="FT.Plugin.Cache.ICache, FT.Plugin.Cache" />-->
      <!--Redis缓存-->
      <component type="FT.Plugin.Cache.Redis.RedisCache, FT.Plugin.Cache.Redis" service="FT.Plugin.Cache.ICache,FT.Plugin.Cache" />
    </components>
  </autofac>
  <connectionStrings>
    <add name="Entity" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2014;initial catalog=LotteryDB;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--获取比赛-->
    <add key="LoginURL" value="http://66.133.87.55" />
    <!--旧网站获得数据地址-->
    <add key="GetDataURL" value="http://66.133.87.55" />
    <add key="GetFtRuseltDataURL" value="http://66.133.87.55" />
    <!--新网站获得数据地址-->
    <add key="NewGetDataURL" value="http://24.235.25.75" />
    <add key="NewGetFtRuseltDataURL" value="http://24.235.25.75" />
    <!--账户名和密码-->
    <add key="userName" value="aacwwj747" />
    <add key="password" value="aaa111" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>