@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "万利";
}
@*<div class="page-group">*@
<div id="page-swiper" class="page">
    <header class="bar bar-nav">
        <a class="icon icon-refresh pull-left league-refresh"><em>180</em></a>
        <h1 class="title">@ViewBag.Title</h1>
        <a class="icon icon-me pull-right" href="/m/user"></a>
    </header>
    <div class="content pull-to-refresh-content" data-ptr-distance="55">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="swiper-container" data-space-between='10'>
        </div>
        <div class="buttons-tab">
            <a href="#tabrb" class="tab-link active button" data-type="1"><em class="tab1">滚球</em></a>
            <a href="#tabot" class="tab-link button" data-type="0"><em class="tab2">标准玩法</em></a>
        </div>
        <div class="tabs">
            <div id="tabrb" class="tab active">
                <div class="list-block">
                    <ul class="leaugerb_tpl_ul"></ul>
                </div>
            </div>
            <div id="tabot" class="tab">
                <div class="list-block">
                    <ul class="leauge_tpl_ul"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@
<script type="text/html" id="leauge_list_tpl">
    <a href="{{matchurl data.Source ''}}">
        <li class="item-content item-link">
            <div class="item-inner">
                {{if data.Language=='cn'}}
                <div class="item-title">所有比赛</div>
                {{else}}
                <div class="item-title">All Events</div>
                {{/if}}
                <div class="item-after"><span class="badge">{{data.Total}}</span></div>
            </div>
        </li>
    </a>
    {{each data.Group as items j}}
    <a href="{{matchurl data.Source items.League}}">
        <li class="item-content item-link" data-league="{{items.League}}">
            <div class="item-inner">
                <div class="item-title">{{items.League}}</div>
                <div class="item-after"><span class="badge">{{items.Count}}</span></div>
            </div>
        </li>
    </a>
    {{/each}}
    @*{{if data.NextPage}}
    <div class="text-center more" onclick="league.loadMore()">加载更多</div>
    {{/if}}*@
</script>



<script type="text/html" id="adv_list_tpl">
    <div class="swiper-wrapper">
        {{each data as item}}
        <div class="swiper-slide">
            <img src="{{item.Img}}" alt="" style='width: 100%'>
        </div>
        {{/each}}
    </div>
    <div class="swiper-pagination"></div>
</script>

@section style
    {
    <link rel="stylesheet" href="~/Areas/Mobile/Content/css/sm-extend.css">
    <link href="~/Areas/Mobile/Content/css/ft.index.css" rel="stylesheet" />
}
@section script
    {
    <script src="~/Areas/Mobile/Scripts/sm-extend.js"></script>
    <script src="~/Areas/Mobile/Scripts/template.js"></script>
    <script src="~/Areas/Mobile/Scripts/ft.template.helper.js"></script>
    <script src="~/Areas/Mobile/Scripts/md5.js"></script>
    <script src="~/Areas/Mobile/Scripts/ft.app.js"></script>
    <script src="~/Areas/Mobile/Scripts/ft.index.js"></script>
}
