<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIKey" value="bda11d91-7ade-4da1-855d-24adfe39d174"/>
    <add key="StartupUri" value="Client\FT.WinForm.exe"/>
    <add key="ServerUrl" value="http://localhost:17470/"/>
    <add key="LaunchPath" value="Launch"/>
    <add key="ClientPath" value="Client"/>
    <add key="OtherProgramKill" value="FT.WinForm.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>